.header {
  background: url("../img/bg-bike-desk.jpg") rgba($black, 0.7) no-repeat center;
  background-size: cover;
  margin-bottom: 150px;
  // margin-bottom: 125px;


  @media (max-width: $desktop) {
    background: none;
    margin-bottom: 67px;
    // margin-bottom: 50px;
  }

  @media (max-width: $tablet) {
    margin-bottom: 71px;
  }
}

.header__container {
  display: flex;
  flex-direction: column;
}

.header__navigation {
  display: flex;
  align-items: center;
  padding-bottom: 254px;

  @media (max-width: $desktop) {
    padding-bottom: 0;
  }
}

.header__wrapper-content {
  width: 877px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 218px;

  @media (max-width: $desktop) {
    flex-direction: column;
    width: 100%;
    padding-bottom: 0;
  }
}

.header__slogan {
  max-width: 393px;

  @media (max-width: $desktop) {
    background: url("../img/bg-bike-tablet.jpg") rgba($black, 0.7) no-repeat center;
    background-size: cover;
    padding: 107px 0 80px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 64px;
    text-align: center;
  }

  @media (max-width: $tablet) {
    padding: 93px 0 70px;
  }
}

.header__logo-link {
  @media (max-width: $desktop) {
    position: absolute;
    top: 25px;
    left: 25px;
  }
}

.header__title {
  font-weight: bold;
  font-size: 46px;
  line-height: 64px;
  letter-spacing: -0.005em;
  color: $white;
  margin-top: 27px;
  margin-bottom: 25px;

  @media (max-width: $desktop) {
    font-size: 30px;
    line-height: 42px;
    max-width: 525px;
    margin-bottom: 22px;
  }
}

.header__descr {
  font-weight: 300;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.005em;
  color: rgba($white, 0.7);

  @media (max-width: $desktop) {
    font-size: 18px;
    line-height: 31px;
    max-width: 425px;
    margin: 0;
    text-align: center;
  }

  @media (max-width: $tablet) {
    padding: 0 15px;
  }
}

.header__order-form {
  @media (max-width: $desktop) {
    align-self: center;
    width: 100%;
  }

  // @media (max-width: $tablet) {
  //   padding: 0 15px;
  // }
}
