.navigation {
  max-width: 874px;
  margin: 0 auto;
}

.navigation__toggle {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("../img/icons/menu.svg") $color-accent no-repeat center;
  z-index: 5;

  &.is-active {
    background: url("../img/icons/close.svg") transparent no-repeat center;
  }

  @media (max-width: $desktop) {
    display: flex;
  }
}

.navigation__list {
  margin: 0;
  list-style: none;

  @media (min-width: $desktop) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 21px 20px 9px;
    border-bottom: 1px solid rgba($color: $white, $alpha: 0.2);
  }

  @media (max-width: $desktop) {
    top: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    width: 100%;
    padding: 100px 0 130px;
    background-color: $white;
    position: absolute;
    transition: all 0.3s ease-in-out;
  }

  &.is-active {
    top: 0;
    right: 0;
    visibility: visible;
    opacity: 1;
    pointer-events: visible;
  }
}

.navigation__item {
  @media (max-width: $desktop) {
    background-color: $color-bg-link;
    display: inline-flex;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}


.navagation__link {
  text-decoration: none;

  @media (min-width: $desktop) {
    color: rgba($color: $white, $alpha: 0.7);
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    letter-spacing: -0.005em;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $color-accent;
    }

    &:focus {
      outline: 2px solid $color-accent;
    }
  }

  @media (max-width: $desktop) {
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    padding: 17px 16px;
    color: rgba($color: $black, $alpha: 0.7);
  }
}

// .no-js {
//   color: red;
// }
