.video {
  background-color: $dark;
  // margin-bottom: 93px;
  margin-bottom: 150px;
  padding-bottom: 20px;

  @media (max-width: $desktop) {
    margin-bottom: 0;
    background: linear-gradient(to bottom, $dark 89%, $white 89%);
  }

  @media (max-width: $tablet) {
    margin-bottom: 3px;
    background-color: $dark;
    padding-bottom: 77px;
  }
}

.video__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translateY(120px);

  @media (max-width: $desktop) {
    transform: translateY(63px);
  }

  @media (max-width: $tablet) {
    transform: translateY(78px);
  }
}

.video h2 {
  color: $white;
  margin: 0 0 19px;

  @media (max-width: $tablet) {
    margin: 0 0 17px;
  }
}

.video p {
  max-width: 360px;
  color: rgba($white, 0.7);
  margin: 0;
  margin-bottom: 55px;
  text-align: center;
  letter-spacing: -0.005em;
  font-weight: 300;
  line-height: 28px;

  @media (max-width: $desktop) {
    max-width: 430px;
    margin-bottom: 40px;
  }

  @media (max-width: $tablet) {
    margin-bottom: 50px;
  }
}

.video__player {
  position: relative;

  @media (max-width: $desktop) {
    width: 68.5%;
  }

  @media (max-width: $tablet) {
    width: 100%;
  }

  video {
    width: 100%;
    object-fit: cover;
  }
}

.video__button-play {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background-color: transparent;
}

.video__play-icon {
  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }

  @media (max-width: $desktop) {
    width: 90px;
    height: 90px;
  }

  @media (max-width: $tablet) {
    width: 70px;
    height: 70px;
  }
}
