$ff-primary: "Open Sans", "Arial", sans-serif;

$black: #000000;
$dark: #131314;
$white: #ffffff;
$color-accent: #0ad9c6;
$color-bg: #f6f6f6;

$desktop: 1023px;
$tablet: 767px;
$mobile: 320px;

body {
  font-family: $ff-primary;
}

// - мобильная версия — 320px - 767px;
// - планшетная версия — 768px - 1023px;
// - десктопная версия — от 1024px и выше

.container {
  max-width: 1200px;
  padding: 0 17px;
  margin: 0 auto;
}

._no-scroll {
  overflow: hidden;
}

.title {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: $black;
  text-align: center;

  @media (max-width: $desktop) {
    font-size: 24px;
    line-height: 41px;
  }

  @media (max-width: $tablet) {
    font-size: 24px;
    line-height: 41px;
  }
}

.circle {
  &::after {
    height: 180px;
    width: 180px;
    border: 27px solid $color-accent;
    background-color: transparent;
    left: 9%;
    top: 44%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    overflow: hidden;
    z-index: -1;

    @media (max-width: $desktop) {
      height: 127px;
      width: 127px;
      top: 100%;
      left: 0;
      transform: translate(-50%, -75%);
    }
  }

  &--small {
    &::after {
      z-index: -1;
      width: 95px;
      height: 95px;
      border-radius: 100%;
      border: 17px solid $color-accent;
      top: 2%;
      right: 4%;
      transform: translate(50%, -50%);

      @media (max-width: $desktop) {
        width: 68px;
        height: 68px;
        border-width: 11px;
      }
    }
  }
}

.square {
  &::before {
    width: 47px;
    height: 47px;
    border: 8px solid $color-accent;
    top: 1%;
    left: 1%;
    transform: translate(-50%, -50%);

    @media (max-width: $desktop) {
      display: none;
    }
  }

  &::after {
    width: 47px;
    height: 47px;
    border: 8px solid $color-accent;
    bottom: 1%;
    right: 0;
    transform: translate(50%, -50%);

    @media (max-width: $desktop) {
      display: none;
    }
  }
}
