body {
  font-family: $ff-primary;
}

// - мобильная версия — 320px - 767px;
// - планшетная версия — 768px - 1023px;
// - десктопная версия — от 1024px и выше

.container {
  max-width: 1200px;
  padding: 0 17px;
  margin: 0 auto;
}

._no-scroll {
  overflow: hidden;
}

.title {
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.005em;
  color: $black;
  text-align: center;

  @media (max-width: $desktop) {
    font-size: 24px;
    line-height: 41px;
  }

  @media (max-width: $tablet) {
    font-size: 24px;
    line-height: 41px;
  }
}

.play {
  width: 100%;
  height: 100%;
  opacity: 0;
}
