$ff-primary: "Open Sans", "Arial", sans-serif;

$black: #000000;
$dark: #131314;
$white: #ffffff;
$color-accent: #0ad9c6;
$color-bg: #f6f6f6;
$color-error: #e20a0a;

$desktop: 1023px;
$tablet: 767px;
$mobile: 320px;
